.registration { 
  grid-area: Registr;
  padding-top: 40px;
  padding-bottom: 20px;
  &__button-registration {
    margin-bottom: 15px;
  }
  &__link-login {
    color: rgba(0, 0, 0, .4);
    &:hover {
      color: rgba(0, 0, 0, .1);
    }
  }
}
