.item-user {
  display: grid;
  grid-template-columns: 70px auto;
  grid-template-rows: 35px 35px;
  border-bottom: 1px solid #f6f6f6;
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 70px;
  transition: .2s ease;
  &:hover {
    background: rgba(222, 222, 222, .1);
    transition: .2s ease;
    cursor: pointer; 
  }
  &__user-avatar{
    display: grid;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-content: center;
    align-content: center;
    position: relative;
    .item-user__null-avatar {
      color: white;
      font-size: 20px;
      font-weight: 600;
      padding: 12px;
      width: 55px;
      height: 55px;
      height: 55px;
      border-radius: 10em;
      text-align: center;
      vertical-align: middle;
    }
    img {
      width: 55px;
      height: 55px;
      overflow: hidden;
      border-radius: 10em;
    }
    span {
      width: 13px;
      height: 13px;
      position: absolute;
      bottom: 8px;
      right: 8px;
      border-radius: 10em;
      border: 3px solid white;
      background: green;
    }
  }
  &__first-name, p {
    padding-top: 4px;
    font-size: 15px;
    font-weight: 500;
  }
  &__current-message {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 240px;
    color: rgba(107, 107, 107, .6);
  }
  &__current-time {
    position: absolute;
    right: 5px;
    color: rgba(0, 0, 0, .4);
    font-size: 12px;
  }
}